.wrapper {
  padding: 5px 0;
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  font-size: 15px;
  text-transform: capitalize;
  border-radius: 3px;
  gap: 8px;
  h2 {
    font-weight: 700;
  }

  svg {
    width: 25px;
    height: 25px;
  }

  @media screen and (max-width: 400px) {
    font-size: 11px;
  }

  @media screen and (min-width: 768px) {
    font-size: 17px;
  }
}
