.layout {
  min-height: 100vh;

  &__container {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 3rem auto 1rem;
    display: grid;
    grid-template-columns: 250px 1fr;
    gap: 2rem;
  }
}

.sidebar {
  box-shadow: $shadow-1;

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;

    img {
      margin: 20px 0 10px;
      width: 150px;
      height: 150px;
      border-radius: 50%;
      object-fit: cover;
      box-shadow: $shadow-1;
    }
  }

  &__name {
    margin: 5px 0 10px;
    font-weight: 700;
    color: $blue-color;
    text-transform: capitalize;
  }

  &__item {
    border-bottom: 1px solid rgb(235, 235, 240);
    cursor: pointer;
    user-select: none;
    font-size: 15px;
    padding-bottom: 12px;
    padding: 0px 18px 12px;

    b {
      margin: 0px;
      line-height: 20px;
      display: flex;
      justify-content: space-between;
      color: rgb(56, 56, 61);
      font-size: 14px;
      padding: 16px 0;
      font-weight: 600;
    }

    &:first-of-type {
      border-top: 1px solid rgb(235, 235, 240);
    }

    &:last-of-type {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  ul {
    margin-top: 1rem;
    width: 100%;

    li {
      ul {
        margin-top: 0;
        color: #666;
        transition: all 0.3s;

        li {
          padding-bottom: 12px;

          label {
            cursor: pointer;
          }

          a {
            display: flex;
            align-items: center;
            gap: 10px;
            font-size: 12px;
            cursor: pointer;
          }

          &:hover {
            color: #111;
          }
        }
      }
    }
  }
}

.active {
  a {
    font-weight: 500;
    color: $blue-color;
  }
}
