.filter {
  padding: 0px 16px 12px;

  &:not(:first-child) {
    border-top: 1px solid rgb(235, 235, 240);
  }

  h3 {
    margin: 0px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    color: rgb(56, 56, 61);
    font-size: 14px;
    padding: 12px 0px;
    font-weight: 600;

    span {
      display: grid;
      place-items: center;

      svg {
        width: 7px;
        color: rgb(56, 56, 61);
      }
    }
  }

  &__categories,
  &__sizes,
  &__styles,
  &__patterns,
  &__materials,
  &__genders,
  &__ratings,
  &__shippingFees {
    &_category,
    &_size,
    &_style,
    &_pattern,
    &_material,
    &_gender,
    &_rating,
    &_shippingFee {
      display: flex;
      align-items: center;
      gap: 10px;
      padding: 0px 0px 12px;
      cursor: pointer;

      input {
        width: 12px;
        cursor: pointer;
      }

      span {
        font-size: 12px;
        color: rgb(56, 56, 61);
        line-height: 16px;
      }
    }

    .flex {
      display: inline-flex;
      width: 100%;
      align-items: center;
      justify-content: space-between;

      span {
        &:last-of-type {
          display: flex;
          align-items: center;
        }
      }

      svg {
        width: 7px;
        height: 7px;
      }
    }

    &_rating {
      span {
        display: flex;
        align-items: center;

        svg {
          width: 15px;
          height: 15px;
          color: #faaf00;
        }
      }
    }
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    cursor: pointer;
    padding-bottom: 12px;

    button {
      width: 20.46px;
      height: 20.46px;
      border-radius: 50%;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
      cursor: pointer;

      &:hover {
        outline: 2px solid #ccc;
        outline-offset: 2px;
        transition: all 0.2s;
      }
    }
  }

  &__brands {
    display: flex;
    flex-wrap: wrap;
    column-gap: 10px;

    &_brand {
      background: transparent;
      width: 47%;
      height: 37px;
      border-radius: 5px;
      border: 1px solid rgb(235, 235, 240);
      display: grid;
      place-items: center;
      cursor: pointer;
      margin-bottom: 10px;
      font-weight: 600;
      font-size: 15px;
      color: #222;

      &:hover {
        border: 1px solid #ccc;
        transition: $transition-1;
      }

      img {
        width: 100%;
        object-fit: contain;
        height: 29px;
      }
    }
  }
}

.activeFilter {
  border: 2px solid $blue-color;

  &:hover {
    border: 2px solid $blue-color;
  }
}

.colorActiveFilter {
  outline: 2px solid $blue-color;
  outline-offset: 2px;
}
