.filter {
  padding: 0px 16px 12px;

  &:not(:first-child) {
    border-top: 1px solid rgb(235, 235, 240);
  }

  h3 {
    margin: 0px;
    line-height: 20px;
    display: flex;
    justify-content: space-between;
    color: rgb(56, 56, 61);
    font-size: 14px;
    padding: 12px 0px;
    font-weight: 600;

    span {
      display: grid;
      place-items: center;

      svg {
        width: 7px;
        color: rgb(56, 56, 61);
      }
    }
  }

  &__input {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 0px 0px 12px;
    cursor: pointer;

    input {
      width: 12px;
      cursor: pointer;
    }

    span {
      font-size: 12px;
      color: rgb(56, 56, 61);
      line-height: 16px;
    }
  }

  .flex {
    display: inline-flex;
    width: 100%;
    align-items: center;
    justify-content: space-between;

    span {
      &:last-of-type {
        display: flex;
        align-items: center;
      }
    }

    svg {
      width: 7px;
      height: 7px;
    }
  }

  &__colors {
    display: flex;
    flex-wrap: wrap;
    gap: 12px;
    cursor: pointer;
    padding-bottom: 12px;

    button {
      width: 21px;
      height: 21px;
      border-radius: 50%;
      box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.2);
      cursor: pointer;

      &:hover {
        outline: 2px solid #ccc;
        outline-offset: 2px;
        transition: all 0.2s;
      }
    }
  }
}

.activeFilter {
  border: 2px solid $blue-color;

  &:hover {
    border: 2px solid $blue-color;
  }
}

.colorActiveFilter {
  outline: 2px solid $blue-color;
  outline-offset: 2px;
}

.showHideBtn {
  padding: 10px 0 15px;

  button {
    text-transform: unset;
    padding: 0px 10px;
    font-family: "Poppins", sans-serif;
    font-size: 11px;
  }
}

.rating {
  span {
    display: flex;
    align-items: center;

    svg {
      width: 15px;
      height: 15px;
      color: #faaf00;
    }
  }
}
