.main {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 3fr 1fr;
  grid-template-areas: "menu swiper user" "menu offers user" "menu header header";

  @media screen and (max-width: 1023px) {
    grid-template-columns: 1fr;
    grid-template-areas: "menu" "swiper" "offers";
    overflow: hidden;
    width: 100%;
  }

  .menu {
    grid-area: menu;
    height: 600px;
    background-color: #fff;
    box-shadow: $shadow-1;
    border-radius: 3px;

    @media screen and (max-width: 1023px) {
      height: 80px;
      max-width: 100vw;
      overflow-y: hidden;
      box-shadow: none;
    }

    &__header {
      width: 100%;
      height: 35px;
      display: flex;
      align-items: center;
      gap: 5px;
      padding: 0 10px;
      background-color: $blue-color;
      color: #fff;
      border-top-left-radius: 5px;
      border-top-right-radius: 5px;
      box-shadow: $shadow-2;
      font-weight: 600;
      letter-spacing: 1px;

      svg {
        height: 20px;
        width: 20px;
      }

      @media screen and (max-width: 1023px) {
        display: none;
      }
    }

    &__list {
      padding: 5px 0;
      display: flex;
      flex-direction: column;

      @media screen and (max-width: 1023px) {
        flex-direction: row;
        padding: 15px 0;
        gap: 10px;
      }
    }

    ul {
      li {
        height: 32.5px;
        display: flex;
        align-items: center;
        cursor: pointer;
        margin: 0 5px;
        padding: 0 10px;
        border-bottom: 1px solid #cccccc48;

        &:last-of-type {
          border-bottom: none;
        }

        &:hover {
          background-color: $gray-color;
          border-color: transparent;
        }

        a {
          height: 100%;
          display: flex;
          align-items: center;
          font-size: 12px;
          gap: 5px;

          span {
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #4d4d4d;

            @media screen and (max-width: 1023px) {
              font-size: 16px;
            }
          }

          svg {
            width: 16px;
            height: 16px;
            fill: #8c8484;
            stroke: #8c8484;

            @media screen and (max-width: 1023px) {
              width: 20px;
              height: 20px;
            }
          }
        }

        @media screen and (max-width: 1023px) {
          min-width: 220px;
          border: 1px solid #64646448;
          border-radius: 3px;
          height: 52px;
          margin: 0;
          justify-content: center;

          &:last-of-type {
            border: 1px solid #64646448;
          }
        }
      }
    }
  }

  .header {
    grid-area: header;
    height: 60px;
    padding: 0.5rem 0.75rem;
    box-shadow: $shadow-1;
    border-radius: 3px;
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: center;

    h2 {
      font-weight: 600;
      font-size: 15px;
      color: #4d4d4d;
    }

    ul {
      display: flex;
      align-items: center;
      gap: 1rem;
      height: 100%;

      li {
        display: flex;
        align-items: center;
        font-size: 16px;
        padding: 5px 10px;
        background-color: transparent;
        border: 1px solid #2f82ff;
        color: #2f82ff;
        border-radius: 3px;
        font-size: 15px;

        &:hover {
          background-color: $blue-color;
          color: #fff;
          transition: $transition-1;
        }
      }
    }

    @media screen and (max-width: 1023px) {
      display: none;
    }
  }

  .swiper {
    grid-area: swiper;
    height: 300px;
    background-color: #fff;
    box-shadow: $shadow-1;
    border-radius: 3px;
  }

  .offers {
    grid-area: offers;
    background-color: #fff;
    box-shadow: $shadow-1;
    overflow: hidden;
    border-radius: 3px;

    span {
      position: absolute;
      color: #fff;
      &:first-of-type {
        bottom: 10px;
        left: 50%;
        transform: translateX(-50%);
        width: 90px;
        border-radius: 50px;
        padding: 2px 0;
        font-weight: 600;
        font-size: 16px;
        background-color: $redish-color;
      }
      &:last-of-type {
        font-style: italic;
        display: flex;
        align-items: center;
        justify-content: center;
        top: 0;
        right: 0;
        background-color: $redish-color;
        height: 30px;
        width: 60px;
        border-top-right-radius: 5px;
        border-bottom-left-radius: 5px;
        font-size: 14px;
        box-shadow: $shadow-1;
      }
    }

    @media screen and (max-width: 677px) {
      span {
        &:first-of-type {
          padding: 0;
          font-size: 13px;
          width: 60%;
        }

        &:last-of-type {
          height: 20px;
          width: 60px;
          font-size: 12px;
        }
      }
    }
  }

  .user {
    position: relative;
    grid-area: user;
    height: 528px;
    background-color: #fff;
    box-shadow: $shadow-1;
    border-radius: 3px;

    @media screen and (max-width: 1023px) {
      display: none;
    }

    &__container {
      padding: 1rem;
    }

    &__infos {
      display: flex;
      flex-direction: column;
      align-items: center;

      img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        box-shadow: $shadow-1;
      }

      h4 {
        margin-top: 10px;
        margin-bottom: 5px;
        text-transform: capitalize;
        font-size: 18px;
        text-decoration: underline;
      }

      span {
        font-size: 14px;
        text-transform: capitalize;
        display: flex;
        align-items: center;
        gap: 2px;
      }

      p {
        margin-top: 5px;
        font-size: 14px;
      }

      &_btns {
        margin-top: 1rem;
        display: flex;
        align-items: center;
        gap: 5px;
        button {
          width: 100px;
          height: 35px;
          border-radius: 3px;
          cursor: pointer;
          font-weight: 600;

          &:first-of-type {
            background: linear-gradient($blue-color, #002583ad);
            color: #fff;

            &:hover {
              background: linear-gradient($blue-color, #003bcfad);
              transition: $transition-1;
            }
          }

          &:last-of-type {
            background-color: transparent;
            border: 1px solid $blue-color;
            color: $blue-color;
          }
        }
      }
    }

    &__links {
      margin-top: 15px;

      li {
        height: 45px;
        border-bottom: 1.5px solid #e9e9e9;
        transition: $transition-1;
        padding: 10px;

        a {
          height: 100%;
          display: flex;
          align-items: center;
          gap: 7px;
          color: $hover-color;
          font-size: 15px;
        }

        &:nth-child(3) {
          svg {
            color: $blue-color;
          }

          &:hover {
            svg {
              color: #fff;
            }
          }
        }

        svg {
          width: 25px;
          height: 25px;
          stroke: $blue-color;
        }

        &:hover {
          background-color: $blue-color;
          svg {
            &:last-of-type {
              stroke: #fff;
            }
          }
          a {
            color: #fff;
          }
        }
      }
    }

    &__wish {
      font-style: italic;
      margin-top: 15px;
      font-size: 14px;
      text-align: center;
    }
  }
}

.category__header {
  display: none;
  @media screen and (max-width: 1023px) {
    display: block;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
    background-color: $gray-color;
    border-bottom: 1px solid $gray-color;
    box-shadow: $shadow-2;
    svg {
      height: 20px;
      width: 20px;
    }
  }
}
