.main {
  display: grid;
  gap: 10px;
  grid-template-columns: 1fr 4fr;
  margin-top: 1rem;

  @media screen and (max-width: 950px) {
    grid-template-columns: unset;
  }

  &__right {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow: hidden;
    background-color: #fff;
    padding: 0 10px;
  }

  &__left {
    max-height: 100vh;
    position: sticky;
    top: 20px;

    @media screen and (max-width: 950px) {
      display: none;
    }
  }

  &__cateMobile {
    position: fixed;
    top: 0;
    left: -100%;
    bottom: 0;
    z-index: 99;
    transition: all 0.5s ease;
  }

  &__backdrop {
    display: none;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0, 0, 0, 0.5);
    opacity: 0;
    z-index: 98;
  }

  .activeBackdrop {
    display: flex;
    opacity: 1;
  }

  .active {
    left: 0;
  }

  .menu {
    width: 100%;
    background-color: #fff;
    box-shadow: $shadow-1;
    border-radius: 3px;
    margin-bottom: 16px;
    padding-bottom: 12px;
    display: flex;
    flex-direction: column;
    border-radius: 3px;
    max-height: 100vh;
    overflow-y: scroll;

    &::-webkit-scrollbar {
      display: none;
    }

    &__header {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 8px;
      padding: 10px 24px;
      background-color: $admin-text;
      border-top-left-radius: 3px;
      border-top-right-radius: 3px;
      color: #fff;
      font-weight: 600;
      font-size: 15px;
      position: relative;

      &_btn {
        position: absolute;
        top: 0;
        right: -4px;
        background-color: transparent;
        cursor: pointer;
        display: none;

        @media screen and (max-width: 950px) {
          display: block;
        }

        svg {
          color: #fff;
        }
      }

      svg {
        margin-left: 5px;
      }
    }

    &__list {
      padding-top: 8px;
    }

    &__item {
      display: flex;
      align-items: center;
      padding: 7px 16px;
      margin: 0 8px;
      -webkit-box-align: center;
      border-radius: 8px;
      cursor: pointer;
      transition: all 0.3s ease 0s;

      &_img {
        width: 32px;
        height: 32px;
        position: relative;
      }

      &:hover {
        background-color: $gray-color;
      }

      a {
        height: 100%;
        display: flex;
        align-items: center;
        font-size: 12px;
        gap: 10px;

        span {
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          color: $home-text;
        }
      }
    }
  }

  .swiper {
    width: 100%;
    max-height: 300px;
    background-color: #fff;
    box-shadow: $shadow-1;
    border-radius: 3px;
  }

  .featuredBrands,
  .featuredCategories,
  .featuredProducts,
  .goodPrice,
  .freeShippingProducts,
  flashDeals {
    padding: 14px 24px 24px;
    border-radius: 3px;
    box-shadow: $shadow-3;
    border: 1px solid #edededed;
    overflow: hidden;

    &__title {
      margin-bottom: 12px;
      font-weight: 700;
      font-size: 16px;
      display: flex;
      -webkit-box-align: center;
      align-items: center;
      gap: 5px;

      @media screen and (max-width: 495px) {
        flex-direction: column;
      }

      h3 {
        font-weight: 700;
        font-size: 15px;
        text-transform: uppercase;
        color: $admin-text;
      }

      img {
        width: 100px;
        position: relative;
      }
    }

    &__container {
      margin: 1px;
      box-shadow: $shadow-1;
    }

    &__item {
      &_img {
        position: relative;
        display: grid;
        place-items: center;
        width: 85%;
        aspect-ratio: 0.8;
      }

      h4 {
        font-size: 13px;
        margin-top: 10px;
        color: $home-text;
        font-weight: 600;
        padding: 7.5px 0 15px;
      }
    }
  }

  .goodPrice {
    &__title {
      h3 {
        color: #ff4100;
      }

      img {
        width: 70px;
      }
    }

    &__item {
      display: grid;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      gap: 5px;

      &_left {
        position: relative;
        width: 100%;
        aspect-ratio: 0.66;
      }

      &_right {
        display: flex;
        flex-direction: column;
        gap: 3px;

        a {
          width: 100%;
          aspect-ratio: 1.34;
          position: relative;
        }
      }
    }
  }

  .featuredCategories {
    &__title {
      h3 {
        color: rgb(138, 29, 216);
      }

      img {
        width: 80px;
      }
    }

    &__item {
      h4 {
        max-width: 100%;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        margin-top: 0;
        padding: 0 10px 20px;
      }
    }
  }

  .featuredProducts,
  .freeShippingProducts {
    background: none;
    border: 1px solid #edededed;

    &__title {
      justify-content: space-between;

      a {
        display: flex;
        align-items: center;
        font-weight: 500;
        color: $admin-text;
        font-size: 13px;

        &:hover {
          color: $blue-color;
          text-decoration: underline;
        }
      }

      img {
        width: 115px;
      }
    }
  }

  .freeShippingProducts {
    &__title {
      img {
        width: 68px;
      }
    }
  }
}

.category__header {
  display: none;
  @media screen and (max-width: 1023px) {
    display: block;
    width: 100%;
    height: 35px;
    display: flex;
    align-items: center;
    gap: 5px;
    padding: 0 10px;
    background-color: $gray-color;
    border-bottom: 1px solid $gray-color;
    box-shadow: $shadow-2;
    svg {
      height: 20px;
      width: 20px;
    }
  }
}

.mainSwiper__wrapper {
  width: 100%;
  height: 100%;
  position: relative;
}
