.category {
  max-width: 500px;
  border-radius: 3px;

  h3 {
    color: $violet-color;
    font-size: 20px;
    font-weight: 600;
    display: flex;
    align-items: center;
    gap: 3px;
    transition: $transition-1;

    &:hover {
      transform: scale(1.05);
      color: $redish-color;
    }
  }

  &__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__products {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin-top: 10px;
    border-radius: 10px;

    .product {
      overflow: hidden;

      img {
        height: 100%;
        width: 100%;
        transition: transform 200ms linear;

        &:hover {
          transform: scale(1.1);
        }
      }
    }

    @media screen and (min-width: 1024px) {
      grid-template-columns: 1fr 1fr 1fr;
    }
  }
}
