.browse {
  &__container {
    max-width: 1200px;
    padding: 0 1rem;
    margin: 0 auto 1rem;
  }

  &__path {
    padding: 2rem 0 1rem;
  }

  &__store {
    display: grid;
    grid-template-columns: 220px 925px;
    gap: 1.5rem;
    margin-bottom: 4rem;

    &_filters {
      position: relative;
      width: 100%;
      text-align: center;
      box-shadow: $shadow-1;
      font-size: 12px;
      border-radius: 3px;
    }

    &_products_wrap {
      box-shadow: $shadow-1;
      padding: 30px;
      border-radius: 3px;
    }

    &_products {
      display: flex;
      flex-wrap: wrap;
      gap: 2rem;
    }
  }

  &__clearBtn {
    border-top: 1px solid rgb(235, 235, 240);
    padding: 16px 0;

    button {
      text-transform: unset;
      font-size: 13px;
      font-weight: 500;
      font-family: "Poppins", sans-serif;
    }
  }

  &__tags {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
    border-radius: 3px;
    box-shadow: $shadow-1;
    margin-bottom: 24px;

    a {
      padding: 10px 20px;
      border-radius: 50px;
      display: grid;
      place-items: center;
      font-size: 14px;
      font-weight: 500;
      color: #666;
      background-color: #eeeeeebc;

      &:hover {
        background-color: #1976d2;
        color: #fff;
        transition: $transition-1;
      }
    }
  }
}

.pagination {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 4rem 0 2rem;
}
